* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFADD;
    color: #22668D;
}
a {
    color: #22668D;
    text-decoration: none;

}
nav {
    position: fixed;
    top: 0;
    width: 100%;
}
h1 {
    text-align: center;
    padding: 10px;
    background-color: #FFFADD;
    width: 100%;
}
header {
    border-style: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFCC70;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #FFFADD;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  li:last-child {
    border-right: none;
  }

  .active {
    background-color: #8ECDDD;
  }
.content {
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    mask-border-width: 10px;
    width: 60%;
    height: 50vh;
    margin-left: 10%;
    text-align: center;
}
.right {
  position: absolute;
  border-style: solid;
  width: 40%;
  height: auto;
  margin: 10vw 5vw 5vw 5vw;
  left: 50%;
  z-index: -1;
}
.left {
  position: absolute;
  border-style: solid;
  width: 40%;
  height: auto;
  margin: 10vw 5vw 5vw 5vw;
  z-index: -1;
}