* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFADD;
    color: #22668D;
}
footer {
    width: 100%;
    height: 10%;
    background-color: #FFCC70;
}
a {
    color: #22668D;
    text-decoration: none;

}
nav {
    position: fixed;
    top: 0;
    width: 100%;
}
h1 {
    text-align: center;
    padding: 10px;
    background-color: #FFFADD;
    width: 100%;
}
header {
    border-style: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFCC70;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #FFFADD;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  li:last-child {
    border-right: none;
    border-left: 1px solid #FFFADD;
  }

  .active {
    background-color: #8ECDDD;
  }
.flex-container {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    background-color: DodgerBlue;
    width: 90%;
    margin-left: 5%;
    z-index: -1;
}
.flex-container > section {
  background-color: #f1f1f1;
  width: 40vmax;
  height: 50vh;
  margin: 10px auto 10px auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container:first-child {
    margin-top: 20vh;
}
.footer4 {
  position: relative;
    flex-wrap: wrap;
    display: flex;
}
.footer4 > section {
  width: 22vmax;
  height: auto;
}
.footer4:first-child {
  margin-left: 2vw;
}